<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>NSUserTrackingUsageDescription
NSUserTrackingUsageDescription
NSUserTrackingUsageDescription
NSUserTrackingUsageDescription</key>
	<string>このアプリでは、より適切な広告を表示するためにユーザーの追跡の許可を求めます。
このアプリではより適切な広告を表示するためにユーザーの追跡の許可を求めます</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
